@model Практика_по_РПМ.Models.User
@{ 
    ViewData["Title"] = "Удалить пользователя";
}

<div>
    <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dd>@Html.DisplayFor(model => model.Login)</dd>
        <dd>@Html.DisplayFor(model => model.Password)</dd>
        <dd>@Html.DisplayFor(model => model.Role_Id)</dd>
        <dd>@Html.DisplayFor(model => model.birth_date)</dd>
        <dd>@Html.DisplayFor(model => model.id_Image)</dd>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

    </dl>
</div>
<form asp-action="delete" asp-controller="home">


    <div class="form-ground">
        <input type="submit" value="Удалить" class="btn btn-group" />
    </div>

</form>